/* global styles */

.text_nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.n-data-table-table {
  .n-data-table-tbody {
    .n-data-table-td--fixed-right {
      .icon-style {
        font-size: 20px;
      }
    }
  }
}
